@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #fff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

a, button {
  color: var(--foreground);
  background: var(--background);
  border: 1px solid var(--foreground);
  transition: background 0.2s, color 0.2s;
}

a:hover, button:hover {
  background: var(--foreground);
  color: var(--background);
}

section {
  margin-bottom: 3rem;
}
